<div class="mask" id="mask"></div>
<a id="gotop" class="waves-effect waves-circle waves-light" href="javascript:void(0);">
    <span class="fas fa-chevron-up"></span>
</a>
<% if (theme.share) { %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>
