<!-- 分享 -->
<% if (theme.share) { %>
<div class="page-share-wrap">
    <%- partial('share', {scope: 'page'}) %>
    <a id="shareFab"
       class="page-share-fab waves-effect waves-circle"
       href="javascript:void(0);">
        <i class="fas fa-share-alt" aria-hidden="true"></i>
    </a>
</div>
<% } %>
